:root{
    --base:white;
    --spacing: 10px;
    --blur: 30px;
    --degree:0deg;
}
img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    transition: all;
    transform: rotate3d(0,1,0,var(--degree));
    
}
.hl{
    color: var(--base);
}
body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}
.controls {
    margin-bottom: 50px;
}
input {
    width: 100px;
}

